# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

# Envs
.env
.venv/
venv/
*.txt
*lock.json
uv.lock
# Build
dist/
build/
*.egg-info/

# Editors
.vscode/
.idea/

# Project outputs
*outputs/
storage/

# Database
local.db

# Documents
*.docx
*.zip
*.jsonl